

.main{
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #f9f9fb
  ;
}

::placeholder {
  color: rgb(255, 255, 255);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: rgb(255, 255, 255);
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: rgb(255, 255, 255);
}